.homePage {
  color: white;
  background-color:#171a26;

  font-family: "Open Sans", sans-serif;
}
 .homePage __video-poster-one {
    transform-style: preserve-3d;
    will-change: transform;
    
    
 }
    video {
      transition: opacity 600ms ease 0s;
      position: relative;
      object-fit: cover;
      /* height: 100vh; */
      width: 100%;
      will-change: transform;
      opacity: 1;
      top: 0;
    
    }
  

  .homePage__text-poster-one {
    position: absolute;
    top: 200px;
      margin-left:500px;  
    
    /* width: 100vw; */
    height: 90%;
    display: flex;
  
    /* overflow: hidden; */
    
    
  
  }
    .homePage_text-poster-one_img-one {
      
      z-index: 2;
      transition: all 1s ease 0s;
    
      opacity: 1;
      transform: translateY(0px);
      
      /* margin: 10% 40%; */
     
    }
     .Image {
        position: relative;
        top: 600;
        
        width: 400px;

      }
      .homePage-text{
        position: absolute;
      right:-250px;
        top: 220px;
        font-size: 38px;
        width: 800px;
font-weight: bolder;

z-index:5;
       } 
      .Icon{
        position: absolute;
        top: 620px;
        left:750px;

      }